@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using Umbraco.Cms.Core.Models.Blocks

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    Layout =null;
}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

<!-- Slick -->
<link type="text/css" rel="stylesheet" href="/css/slick.css" />
<link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

<!-- nouislider -->
<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" href="/css/font-awesome.min.css">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="/css/style.css" />

<!-- CSS -->
<body class="">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-3 col-lg-3 col-md-3 col-sm-12  align-content-center text-center">

                <img class="logo_sam" style="margin-top:20px" src="~/img/logo_samtech.png" />

            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-12  align-content-center text-center" style="background-color:#d10024;height: 15%">
            </div>
        </div><div class="row">
            <div class="col-md-3 d-none d-md-block align-content-center text-center hide-small">

                @{
                    var image1 = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("bodyImage");
                }

                <img class="logo_sam" style="margin-top:100px" src="@image1.Url()" />
                <p class="align-content-around">@Model.Value("headerText")</p>@Model.Value("title")
                <div class="add-to-cart">
                    <button class="add-to-cart-btn-home " style="margin-top:20px"> <i class="fab fa-opencart"></i> Browse All </button>
                </div>
            </div>
            <div class="col-12 col-lg-9 col-md-9 col-sm-12  align-content-center text-center" style="background-color:#d10024;height:100%;display:flex; flex-direction:column;align-items:center;align-content:first baseline baseline;padding-top:10px">
                @* <h2 class="text-white" style="color:white">Samtech Solutions | Your One-Stop Electronics Hub</h2> *@
                <h3 class="text-white mt-4" style="color:white;margin-top:40px">@Model.Value("bodyTitle")</h3>
                <h4 class="text-white mt-4" style="color:white;margin-top:20px">@Model.Value("bodyDescription")</h4>
                <div class="header-search width-search">
                    @{
                        var categories = Model.Value<BlockListModel>("itemCategories");
                    }

                 
                   @*  <form>
                        <select class="input-select">
                            <option value="" selected>Select Category</option>

                            @foreach (var item in categories)
                            {
                                var content = item.Content;
                                <option value="@content.Value("itemCategoryName")">@content.Value("itemCategoryName")</option>

                            })
                        </select>
                        <input class="input" placeholder="Search here">

                        <button class="search-btn" style="background-color:white;color:#d10024">Search</button>
                    </form> *@

                    <form class="bxq-search-92 d-flex align-items-stretch">
                        <select class="bxq-select-92 border-0 rounded-start " style="border:none;height:40px;">
                            <option value="" selected>Select Category</option>
                            @foreach (var item in categories)
                            {
                                var content = item.Content;
                                <option value="@content.Value("itemCategoryName")">
                                    @content.Value("itemCategoryName")
                                </option>
                            }
                        </select>

                        <input type="text" class="bxq-input-92 border-0" style="border:none;height:40px;" placeholder="Search here" style="border:none">

                        <button type="submit" class="bxq-btn-92 fw-bold" style="border:none;height:40px;">
                            Search
                        </button>
                    </form>
                </div>
                <div>
                    <h3 style="color:white">Popular Categories</h3>

                </div>
                <div class="section">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <!-- shop -->

                            @foreach (var item in categories)

                            {
                                var content2 = item.Content;
                                var image = content2.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("categoryImage");
                                <div class="col-md-2 col-xs-6">
                                    <div class="shop1">
                                        <div class="shop-img">
                                            <img src="@image.Url()" class="small-image" alt="">
                                        </div>
                                        <div class="shop-body ">
                                            <h4 class="text-white"> @content2.Value("itemCategoryName")<br> Collection</h4>
                                            <a href="#" class="cta-btn text-white">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>

                                </div>

                            }

                           
                          
                        </div>
                        <!-- /container -->
                    </div>
                </div>
                @{
                    var number = Model.Value<string>("whatsAppNumber")?.Replace("+", "").Replace(" ", "");
                    var message = System.Net.WebUtility.UrlEncode("Hello Samtech Solutions, I would like to inquire about your products.");
                    var phoneNumber = $"https://wa.me/{number}?text={message}";
                }

                <div class="add-to-cart">
                    <a class="add-to-cart-btn-home-whatsapp"  
                       href="@phoneNumber"
                       target="_blank"
                       style="margin-top:20px;background-color:white;color:#d10024;padding:10px;border:none">
                        <i class="fab fa-whatsapp"></i> Chat with us
                    </a>
                </div>



            </div>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>