   @model IEnumerable<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>

@{int s = 0;}

@* <div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">New Products</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
							<li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
							<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
							<li><a data-toggle="tab" href="#tab1">Accessories</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div> *@





@{foreach (var x in Model)
	{
		foreach (var y in x.Children)

		{
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">

						<!-- section title -->
						<div class="col-md-12">
							<div class="section-title">
								<h3 class="title">@y.Name</h3>

							</div>
						</div>
						<!-- /section title -->
						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									<!-- tab -->
									<div id="tab1" class="tab-pane active">
										<div class="products-slick" data-nav="#slick-nav-1">
											@{foreach (var c in y.Children)
												{
													s = s + 1;
													double discount = 0;
													int initialPrice = 0;
													int currentPrice = 0;

													if (c.Value("initialPrice") != null)
													{
														initialPrice = c.Value<int>("initialPrice");
														currentPrice = c.Value<int>("actualPrice");

														if (initialPrice > 0)
														{
															discount = ((double)(initialPrice - currentPrice) / initialPrice) * 100;
														}
													}
													else
													{
														initialPrice = c.Value<int>("initialPriceOther");
														currentPrice = c.Value<int>("actualPriceOther");

														if (initialPrice > 0)
														{
															discount = ((double)(initialPrice - currentPrice) / initialPrice) * 100;
														}
													}

													var images = c.Value<IEnumerable<Umbraco.Cms.Core.Models.MediaWithCrops>>("selectItemImages");
													var firstImage = images?.FirstOrDefault();

													<div class="product">
														<div class="product-img">
															<img src="@firstImage?.Url()" alt="">
															<div class="product-label">
																@if (discount > 0)
																{
																	<span class="sale">-@Math.Round(discount, 0)%</span>
																}

																@if (c.Value<Boolean>("markAsTopSelling"))
																{
																	<span class="new">NEW</span>
																}
															</div>
														</div>
														<div class="product-body">
															<p class="product-category">@y.Name</p>
															<h3 class="product-name"><a href="#">@c.Name</a></h3>
															<h4 class="product-price">@currentPrice.00 <del class="product-old-price">@initialPrice.00</del></h4>
														</div>

														<div class="add-to-cart">
															<button class="add-to-cart-btn"><i class="fab fa-whatsapp"></i> &nbsp; Order Now</button>
														</div>

														<div class="add-to-cart">
															<a  target="_blank"  href="https://wa.me/?text=@Uri.EscapeDataString($"Hello, I am interested in this item:\n\nName: {c.Name}\nCategory: {y.Name}\nPrice: {currentPrice}.00 KES\nDiscount: {Math.Round(discount, 0)}%")">
																<button class="add-to-cart-btn">									  
																	<i class="fab fa-whatsapp"></i> &nbsp; Order Now
																</button>
															</a>
														</div>
													</div>
												}
											}					
										</div>
										<div id="slick-nav-1" class="products-slick-nav"></div>
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>


		}
	}}
<!-- product -->
<!-- /product -->
<div class="section">
	<!-- container -->
	<div class="container">
		<div class="row">
			@{
				foreach (var x in Model)
				{
					foreach (var y in x.Children)

					{
						<div class="col-md-4 col-xs-6">


							<div class="section-title">
								<h4 class="title">@y.Name</h4>
								<div class="section-nav">
									<div id="@y.Id" class="products-slick-nav"></div>
								</div>
							</div>

							<div class="products-widget-slick" data-nav="#@y.Id">
								<div>
									@{
										foreach (var c in y.Children)
										{
											s = s + 1;
											double discount = 0;
											int initialPrice = 0;
											int currentPrice = 0;

											if (c.Value("initialPrice") != null)
											{
												initialPrice = c.Value<int>("initialPrice");
												currentPrice = c.Value<int>("actualPrice");

												if (initialPrice > 0)
												{
													discount = ((double)(initialPrice - currentPrice) / initialPrice) * 100;
												}
											}
											else
											{
												initialPrice = c.Value<int>("initialPriceOther");
												currentPrice = c.Value<int>("actualPriceOther");

												if (initialPrice > 0)
												{
													discount = ((double)(initialPrice - currentPrice) / initialPrice) * 100;
												}
											}


											var images = c.Value<IEnumerable<Umbraco.Cms.Core.Models.MediaWithCrops>>("selectItemImages");
											var firstImage = images?.FirstOrDefault();

											<!-- product widget -->
											<div class="product-widget">
												<div class="product-img">
													<img src="img/product07.png" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">Category</p>
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
												</div>
											</div>
										}
					}
								</div>
							</div>
							
							</div>

				}
			}
			}

	<div class="clearfix visible-sm visible-xs"></div>

</div>
</div>
</div>